* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Form Image Styling... */
.form-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
