* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Form Image Styling... */
.form-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Loader container */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-bottom: 5px solid orangered;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =========================================
      Navbar Style
==========================================*/
.navbar {
  background: black !important;
  color: white !important;
}

.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
}

.navbar-brand:hover {
  color: rgb(212, 220, 226) !important;
}
.nav-link:hover {
  color: rgb(212, 220, 226) !important;
}
